main > section:nth-of-type(odd) {
    background-color: #1abc9c;
    color: white;
}

main > section:nth-of-type(even) {
    background-color: white;
}


.navbar {
    background-color: #2c3e50;
}

.jumbotron {
    text-transform: uppercase;
}

.jumbotron img {
    width: 250px;
    height: auto;
}

footer {
    color: white;
    background-color: #3a546d;
    text-align: center;
}

footer > .container-fluid {
    background-color: #2c3e50;
   
}